.DS_Store

.env.*.local
.env.local

.idea
.vscode
.vs

*.csv
*.dat
*.gz
*.log
*.njsproj
*.ntvs*
*.out
*.pid
*.seed
*.sln
*.suo
*.sw?
*.swp

dist
build
coverage
lib-cov
logs
node_modules
npm-debug.log*
pids
pnpm-debug.log*
results
Thumbs.db
tmp

yarn-debug.log*
yarn-error.log*
yarn.lock